@use './variables' as vars;

@mixin theme($background-color, $text-color, $card-background, $border-color) {
    background-color: $background-color;
    color: $text-color;
  
    .card {
      background-color: $card-background;
      border: 1px solid $border-color;
    }
  
    .btn-primary {
      background-color: vars.$color-primary-1;
      color: vars.$color-white;
    }
  
    .btn-accent {
      background-color: vars.$color-accent-1;
      color: vars.$color-white;
    }
  }