// Primary Colors
$color-primary-1: #635FC7;  
$color-primary-2: #A8A4FF;  


// Dark Colors
$color-dark-1: #000112;      
$color-dark-2: #20212C;      
$color-dark-3: #2B2C37;     
$color-dark-4: #3E3F4E;      


// Gray/Neutral Colors
$color-gray-1: #828FA3;      
$color-light-1: #E4EBFA;     
$color-light-2: #F4F7FD;     
$color-white: #FFFFFF;       

// Accent Colors
$color-accent-1: #EA5555;    
$color-accent-2: #FF9898;    