@import './partials/variables';

.app-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;


    .right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        app-board {
            flex: 1;
        }
    }
}

app-view-task-modal {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%);
}