@use '../../../styles/light-theme' as light;
@use '../../../styles/dark-theme' as dark;
@use '../../../styles/mixin' as mixin;
// @import '../../../styles/variables';
@import '../../../styles/variables';



nav {
    height: 64px;
    padding: 16px;
    width: 100%;
    background-color: $color-light-1 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    .header-left {
        display: flex;
        justify-content: center;
        align-items: center ;
        gap: 8px;
    }
    .header-right {
        display: flex;
        align-items: center;
        gap: 8px;
        img.ellipsis {
            width: 3.96px;
            height: 16px;
        }
        button {
            height: 32px;
            width: 48px;
            border-radius: 50px;
            border: none;
            color: white;
            font-weight: 600;
            background-color: $color-primary-1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button.tb {
            display: none;
        }
    }
}


    
@media screen and (min-width:480px ) {
    nav {
        .header-left {
            margin-left: 16px;
            font-size: 20px;
            .logo {
                display: none;
            }
        }
        height: 81px;
        .header-right {
            gap: 16px;
            button {
                display: none;
            }
            button.tb {
                padding-top: 3px;
                width: 168px;
                height: 48px;
                display: flex;
                font-weight: 700;
                gap: 5px;
            }
            img.ellipsis {
                height: 20px;
                width: 4.62px;
            }
        }
    }
}

@media screen and (min-width: 860px ) {
    nav {
        .header-left {
            margin-left: 20px;
            font-size: 24px;
            .logo {
                display: none;
            }
        }
      
        height: 96px;
        .header-right {
            gap: 16px;
            button {
                display: none;
            }
            button.tb {
                padding-top: 3px;
                width: 168px;
                height: 48px;
                display: flex;
                font-weight: 700;
                gap: 5px;
            }
            img.ellipsis {
                height: 20px;
                width: 4.62px;
            }
        }
    }
}