@import '../../partials/variables';
@import '../../partials/mixins';

aside {
    width: 0px;
    height: 100vh;
    background: $white;
    // position: absolute;
    // z-index: 3;
    // top: 0;
    // left: 0;
    border-right: 1px solid $lines-light;
    padding: 32.78px 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .2s ease-in-out;
    transform: translateX(-300px);


    svg.logo {
        margin-left: 34px;
        margin-bottom: 54px;
        width: 152.53px;
    }

    p.no-of-boards {
        @include headingM;
        color: $medium-grey;
        margin-left: 32px;
        margin-bottom: 19px;
    }

    div.boards-container {
        

        div.board-item {
            @include headingM;
            letter-spacing: 0;
            color: $medium-grey;
            width: 276px;
            height: 48px;
            border-radius: 0 100px 100px 0;
            background: inherit;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: .1s ease-in-out;

            svg {
                margin-left: 32px;
                margin-right: 16px;
                
                path {
                    transition: .1s ease-in-out;
                }
            }

            span {
                font-size: px-to-rem(19px);
            }
        }

        div.board-item:hover {
            background: $main-purple;
            color: $white;

            svg {
                path {
                    fill: $white;
                }
            }
        }

        div#create-new-board {
            @include headingM;
            letter-spacing: 0;
            color: $main-purple;
            display: flex;
            align-items: center;
            width: 276px;
            height: 48px;
            cursor: pointer;

            svg.new-board-icon {
                margin-left: 32px;
                margin-right: 16px;

                path {
                    fill: $main-purple;
                }
            }

            span {
                font-size: 19px;

                svg {
                    path {
                        font-size: px-to-rem(20px);
                        fill: $main-purple;
                    }

                    path:hover {
                        fill: $white;
                    }
                }
            }
        }

        div#create-new-board:hover {
            color: $main-purple-hover;

            svg.new-board-icon {
                path {
                    fill: $main-purple-hover;
                }
            }

            span {
                svg {
                    path {
                        fill: $main-purple-hover;
                    }
                }
            }
        }
    }

    div.theme-box {
        width: 251px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23.67px;
        background: $light-grey;
        margin: auto;
        border-radius: 6px;
        cursor: pointer;

        div.rectangle {
            width: 40px;
            height: 20px;
            border-radius: 12px;
            background: $main-purple;
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 3px;

            div.circle {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $white;

            }
        }
    }

    div.hide-sidebar-btn {
        height: 48px;
        display: flex;
        align-items: center;
        margin-left: 32px;
        margin-top: 8px;
        cursor: pointer;
        transition: .1s ease-in-out;
        position: relative;

        svg {
            margin-right: 15px;
            
            path {
                transition: .1s ease-in-out;
            }
        }

        span {
            @include headingM;
            font-size: px-to-rem(19px);
            letter-spacing: 0;
            color: $medium-grey;
            transition: .1s ease-in-out;
        }
    }

    div.hide-sidebar-btn:hover {
        svg {
            path {
                fill: $main-purple-hover;
            }
        }

        span {
            color: $main-purple-hover;
        }
    }

    div.show-sidebar-btn {
        width: 56px;
        height: 48px;
        background: $main-purple;
        border-radius: 0px 100px 100px 0px;
        padding-right: 10px;
        cursor: pointer;
        transition: .2s ease-in-out;
        position: absolute;
        bottom: 30px;
        left: 300px;
    }
    div.show-sidebar-btn:hover {
        background: $main-purple-hover;
    }
}


.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-visible {
    display: none;
}

.show-sidebar {
    transform: translateX(0);
    width: 300px;
}


.not-clicked {
    @include headingM;
    letter-spacing: 0;
    color: $medium-grey;
    width: 276px;
    height: 48px;
    border-radius: 0 100px 100px 0;
    background: $main-purple;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.clicked {
    @include headingM;
    letter-spacing: 0;
    color: $medium-grey;
    width: 276px;
    height: 48px;
    border-radius: 0 100px 100px 0;
    background: $white;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in-out;
}